@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
body {
   
    background-color: #f2f2f2;
}


.topnav{
  height: 7vh;
  background-color: rgb(255, 255, 255);

}
.navone {
  display: flex;
  align-items: center;
  padding: 2px;
}
.icon {
  padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
}


.icon img{
  height: 4vh;
}


.box{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  align-self: center;
}

.box input {
  /* padding: 10px; */
 
  width: 10%;
  height: 4vh;
  background: none;
  border: 2px solid #000000;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #000000;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width:100%;
  background: #ffffff;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: #000000;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

.bottomnav{
  
    height: 4vh;
    background-color: #d3d1d1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navtwo{
  display: flex;
  justify-content: center;

}
.navcategory {
  margin-right: 5px;
  height: 5vh;
  margin-top: 7px;
  margin-right: 2%;
}


.subcategory {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  width: 10vw;
}
.navcategory a {
  color: black;
  
  text-decoration: none;
  display: block;
}
.navcategory:hover .dropdown-content {
  
  display: block;
 
}



.categorycards {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
   
   
  }
  .categorycards h6{
    font-size: 20px;
  }
.scene{
    text-align: center;
    width:12% ;
    height: 30vh;
 
  
}



.fcard {
   
    width: 85%;
    border: 0px solid black;
    
    height: 75%;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 50px;
}
.fcard:hover {
    transform: rotateY(0.5turn);
  }
  .card__face {
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }
  .fcard img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
  .card__face--back {
    transform: rotateY(0.5turn);
  }
  .newarrival{
    width: 70%;
     background-color:white;
  }


  .texthead{
    text-align: center;
    height: 20vh;
   
  }
  .texthead h2{
    font-size: 40px;
  }
  .texthead p{
    font-size: 20px;
  }



  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  
  .login input{
    background-color: rgba(228, 225, 225, 0.397);
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    border: 0px solid rgb(0, 0, 0);
  }
 .login ::placeholder{
  color: #242424;
 }





.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  /* cursor: pointer; */
  display: inline-flex;
  /* fill: currentcolor; */
  /* font-family: "Google Sans",Roboto,Arial,sans-serif; */
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform,opacity;
  /* z-index: 0; */
}


/* Styles for screen sizes 320px — 480px: Mobile devices */
@media screen and (max-width: 480px) {
  .topnav {
    height: 10vh; /* Adjust height for mobile devices */
  }
  
  .icon {
    margin-top: 5px; /* Adjust margin for mobile devices */
  }
  
  .box {
    margin-top: 5px; /* Adjust margin for mobile devices */
  }
  
  .box input {
    font-size: 20px; /* Adjust font size for mobile devices */
  }
}

/* Styles for screen sizes 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* You can add specific styles for this screen size range here */
}

/* Styles for screen sizes 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* You can add specific styles for this screen size range here */
}

/* Styles for screen sizes 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  /* You can add specific styles for this screen size range here */
}

/* Styles for screen sizes 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  /* You can add specific styles for this screen size range here */
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  /* Your CSS styles for screens between 1400px and 1599px */
  .topnav{
    width: 100%;
    height: 7vh;
    background-color: rgb(255, 255, 255);
  
  }
  .navone {
    display: flex;
    align-items: center;
    padding: 2px;
  }
  .icon {
    padding: 1px;
    margin-left: 7px;
    margin-right: 6px;
    margin-top: 10px;
    
  }
  
  
  .icon img{
    height: 4vh;
  }
  
  
  .box{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    align-self: center;
  }
  
  .box input {
    /* padding: 10px; */
   
    width: 8%;
    height: 4vh;
    background: none;
    border: 2px solid #000000;
    border-radius: 60px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #000000;
    outline: none;
    transition: .5s;
  }
  .box:hover input{
    width:100%;
    background: #ffffff;
    border-radius: 15px;
  }
  .box i{
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(-50%,-50%);
    font-size: 15px;
    color: #000000;
    transition: .2s;
  }
  .box:hover i{
    opacity: 0;
    z-index: -1;
  }
  
  .bottomnav{
    
      height: 4vh;
      background-color: #d3d1d1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .navtwo{
    display: flex;
    justify-content: center;
  
  }
  .navcategory {
    margin-right: 5px;
    height: 5vh;
    margin-top: 7px;
    margin-right: 2%;
  }
  
  
  .subcategory {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    width: 10vw;
  }
  .navcategory a {
    color: black;
    
    text-decoration: none;
    display: block;
  }
  .navcategory:hover .dropdown-content {
    
    display: block;
   
  }
}

/* Category 3: Screens starting from 1600px and above */
@media only screen and (min-width: 1600px) {
  /* Your CSS styles for screens 1600px and wider */
  .topnav{
    height: 7vh;
    background-color: rgb(255, 255, 255);
  
  }
  .navone {
    display: flex;
    align-items: center;
    padding: 2px;
  }
  .icon {
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
  }
  
  
  .icon img{
    height: 4vh;
  }
  
  
  .box{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    align-self: center;
  }
  
  .box input {
    /* padding: 10px; */
   
    width: 10%;
    height: 4vh;
    background: none;
    border: 2px solid #000000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #000000;
    outline: none;
    transition: .5s;
  }
  .box:hover input{
    width:100%;
    background: #ffffff;
    border-radius: 10px;
  }
  .box i{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    color: #000000;
    transition: .2s;
  }
  .box:hover i{
    opacity: 0;
    z-index: -1;
  }
  
  .bottomnav{
    
      height: 4vh;
      background-color: #d3d1d1;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .navtwo{
    display: flex;
    justify-content: center;
  
  }
  .navcategory {
    margin-right: 5px;
    height: 5vh;
    margin-top: 7px;
    margin-right: 2%;
  }
  
  
  .subcategory {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    width: 10vw;
  }
  .navcategory a {
    color: black;
    
    text-decoration: none;
    display: block;
  }
  .navcategory:hover .dropdown-content {
    
    display: block;
   
  }
  
}