@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.categorycards {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
 }
  .categorycards h6{
    font-size: 20px;
  }
.scene{
    
    text-align: center;
    width:12% ;
    height: 30vh;
}
.scene h6{
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;

}
.fcard {
   
    width: 85%;
    border: 0px solid black;
    
    height: 75%;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 50px;
}
.fcard:hover {
    transform: rotateY(0.5turn);
  }
  .card__face {
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  }
  .fcard img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
  }
  .card__face--back {
    transform: rotateY(0.5turn);
  }


  .texthead{
    
    text-align: center;
    height: 20vh;
   width: 60%;
  
   padding-top: 1%;
  }
  .texthead h2{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 40px;
  }
  .texthead p{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

.rosead{
    padding:0%;
 width: 100vw;

}
.roseadone{
    width:90vw ; 
    background-color: rgb(255, 255, 255);
}
.cakeimg{
    width: 100vw; ;
     position:relative;
}
.cakeimg img{
    width: 100%;
     filter: brightness(80%);
}
.cakeimgdiv{
    position: absolute;
    top:19%; 
    left:10%;
}
.cakeimgh1o{
    font-size:100px;color:rgb(255, 255, 255); text-shadow: 2px 2px 14px  rgba(0, 0, 0, 0.8);
}
.cakeimgh1t{
    font-size:70px;color:white;text-shadow: 2px 2px 14px  rgba(0, 0, 0, 0.8);
}
.cakeimgh1th{
    font-size:50px;color:white;text-shadow: 2px 2px 14px  rgba(0, 0, 0, 0.8);
}
.cakeimgpo{
    color:white;text-shadow: 2px 2px 14px  rgba(0, 0, 0, 0.8);
}
.cakeimgpt{
    color:white;text-shadow: 2px 2px 14px  rgba(0, 0, 0, 0.8);
}
.lcategr{
    width: 100%;
}
.lcategrd{
    width:80vw; 
   
}
.lrow{
  
    display: flex;
    flex-wrap: wrap;
}
.lrowcard{
  
    width: 18%;
}
.lrowcard a{
    text-decoration: none;
}
.lrowcard a:hover{
  color: black;
}
.lrowcard .card{
    width: 100%; border:0px;
}
.lrowcard .card p{
    font-size: 15px;
}
.limgl{
    width: 100%;position:relative ;
}
.limgld{
    position: absolute;
    top:40%; left:28%;
     color:aliceblue;
     text-shadow: 2px 2px 14px #020000; 
  
}
.limgld h1{
    font-size: 50px;
}
.footsec{
    /* display: flex; */
    width: 100%;
}
.footsecd{
    display: flex;
    flex-wrap: wrap;
    background-color: white; width: 80%;
}
.footsecd .foot{
    width: 15%;
}
.footsecd .foot h4{
    font-size: 15px;
}
.footsecd .foot h5{
    font-size: 12px;
}
.footsecd .footw{
    width: 18%;
     color:rgb(148, 147, 147);

}
.footsecd .footw h4{
   
     font-size: 15px;
}
.sicon{
    color:white;
      background-color: rgb(16, 16, 16);
       width:100% ; 
       display: flex;
       flex-wrap: wrap;
}
.sicono{
    width: 30%;
}
.sicono h4{
    font-size:12px;
}
.sicont{
    display: flex;
    width: 30%;
}
.sicont h4{
    font-size:12px;
}
.sicont img{
    width: 30px ;
   
}
.siconth{
    display: flex;
    width: 30%;
}
.siconth img{
  
    width: 25px; 
    height:35px;
}

  @media screen and (max-width: 480px) {
    .sicono{
        width: 30%;
    }
    .sicono h4{
        font-size:8px;
    }
    .sicont{
        width: 30%;
    }
    .sicont img{
        width: 15px ;
        height: 30px;
        margin-top: 5%;
    }
    .sicont h4{
        font-size:8px;
    }
    .siconth{
        width: 30%;
    }
    .siconth img{
        margin-top: 5%;
        width: 15px; 
        height:25px;
    }
    .footsecd .foot{
        width: 20%;
    }
    .footsecd .foot h4{
        font-size: 10px;
    }
    .footsecd .foot h5{
        font-size: 8px;
    }
    .footsecd .footw{
        width: 50%;
   
    }
    .footsecd .footw h4{
       
         font-size: 12px;
    }
    
    .limgld h1{
        font-size: 100%;
    }
    .lrowcard{
  
        width: 48%;
        margin-right: 5px;
    }
    .lrowcard .card p{
        font-size: 70%;
    }
    .categorycards {
   
        height: 20vh;
 
     }
    .categorycards h6{
        font-size: 12px;
      }
      .fcard {
   
        width: 100%;
        height: 30%;
        border-radius: 10px;
    }
    .fcard img  {
        border-radius: 10px;
      }
      .texthead{
    
        text-align: center;
        width: 80%;
        height: 15vh;
      
       
      }
      .texthead h2{
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-size: 25px;
        margin-top: 0%;
      }
      .texthead p{
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-size: 10px;
      }
      .roseadrowt{
      
        display: flex;
        flex-wrap: wrap;
      }
      .roseadrowtc{
        margin-top: 10px;
        width: 50%;
              height: auto;
        
      }
      .cakeimgdiv{
        position: absolute;
        top:4%; 
        left:5%;
    }
      .cakeimgh1o{
        font-size:100%;
    }
    .cakeimgh1t{
        font-size:100%;
    }
    .cakeimgh1th{
        font-size:100%;
    }
    .cakeimgpo{
        font-size: 50%;
    }
    .cakeimgpt{
       font-size: 50%;
    }

  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .sicono{
        width: 30%;
    }
    .sicono h4{
        font-size:8px;
    }
    .sicont{
        width: 30%;
    }
    .sicont img{
        width: 18px ;
        height: 33px;
        margin-top: 5%;
    }
    .sicont h4{
        font-size:8px;
    }
    .siconth{
        width: 30%;
    }
    .siconth img{
        margin-top: 5%;
        width: 18px; 
        height:28px;
    }
    .footsecd .foot{
        width: 20%;
    }
    .footsecd .foot h4{
        font-size: 12px;
    }
    .footsecd .foot h5{
        font-size: 10px;
    }
    .footsecd .footw{
        width: 50%;
   
    }
    .footsecd .footw h4{
       
         font-size: 12px;
    }
    .categorycards h6{
        font-size: 15px;
      }
      .limgld h1{
        font-size: 100%;
    }
      .categorycards {
   
        height: 25vh;

     }
      .fcard {
   
        width: 100%;
        height: 40%;
        border-radius: 1px;
    }
    .fcard img  {
        border-radius: 10px;
      }
      .texthead{
    
        text-align: center;
        width: 80%;
        height: 15vh;
       
      
       
      }
      .texthead h2{
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-size: 28px;
        margin-top: 0%;
      }
      .texthead p{
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-size: 15px;
      }
      .roseadrowt{
      
        display: flex;
        flex-wrap: wrap;
      }
      .roseadrowtc{
        margin-top: 10px;
        width: 50%;
        height: auto;
      }
      .cakeimgh1o{
        font-size:50px;
    }
    .cakeimgh1t{
        font-size:38px;
    }
    .cakeimgh1th{
        font-size:28px;
    }
    .cakeimgpo{
        font-size: 10px;
    }
    .cakeimgpt{
       font-size: 10px;
    }
    .lrowcard{
  
        width: 48%;
        margin-right: 5px;
    }
    .lrowcard .card p{
        font-size: 10px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .footsecd .foot{
        width: 15%;
    }
    .footsecd .foot h4{
        font-size: 15px;
    }
    .footsecd .foot h5{
        font-size: 12px;
    }
    .footsecd .footw{
        width: 50%;
   
    }
    .footsecd .footw h4{
       
         font-size: 15px;
    }
    .lrowcard{
  
        width: 48%;
        margin-right: 5px;
    }
    .limgld h1{
        font-size: 30px;
    }
    .lrowcard .card p{
        font-size: 12px;
    }
    .categorycards h6{
        font-size: 20px;
      }
    
      .fcard {
   
        width: 100%;
        height: 70%;
        border-radius: 10px;
    }
    .fcard img  {
        border-radius: 10px;
      }
      .texthead{
    
        
        height: 15vh;
       
      
       
      }
      .texthead h2{
      
        font-size: 32px;
        margin-top: 0%;
      }
      .texthead p{
     
        font-size: 15px;
      }

  }
  
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .footsecd .foot{
        width: 15%;
    }
    .footsecd .foot h4{
        font-size: 15px;
    }
    .footsecd .foot h5{
        font-size: 12px;
    }
    .footsecd .footw{
        width: 15%;
   
    }
    .footsecd .footw h4{
       
         font-size: 12px;
    }

    .limgld h1{
        font-size: 40px;
    }
      .fcard {
   
        width: 100%;
        height: 80%;
        border-radius: 30px;
    }
    .fcard img  {
        border-radius: 30px;
      }
      .texthead{
    
        
        height: 15vh;
      
      
       
      }
      .texthead h2{
      
        font-size: 35px;
        margin-top: 0%;
      }
      .texthead p{
     
        font-size: 20px;
      }

  
  }
  
 
  @media screen and (min-width: 1201px) and (max-width: 1399px) {
    .footsecd .foot{
        width: 12%;
    }
    .footsecd .foot h4{
        font-size: 15px;
    }
    .footsecd .foot h5{
        font-size: 12px;
    }
    .footsecd .footw{
        width: 17%;
   
    }
    .footsecd .footw h4{
       
         font-size: 12px;
    }
 
    .fcard {
   
        width: 100%;
        height: 80%;
        border-radius: 30px;
    }
    .fcard img  {
        border-radius: 30px;
      }
   
  }
  
  @media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .footsecd .foot{
        width: 15%;
    }
    .footsecd .foot h4{
        font-size: 15px;
    }
    .footsecd .foot h5{
        font-size: 12px;
    }
    .footsecd .footw{
        width: 15%;
   
    }
    .footsecd .footw h4{
       
         font-size: 12px;
    }
  
   
  
    
  }
 
  @media only screen and (min-width: 1600px) {

  
  

  }