{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    {% if cart %}
    <div class=" cart mx-auto  p-2 " style="">
        <div class="row mx-2  ">
            <div class="cartfcol col-lg-9 col-md-8 col-sm-9  p-2 " style="">
                {% for i in cart %}
                <div style=" " class="cartbox mt-2 p-2 ">
                <div class="cartimage  " style="" >
                    <a href=""><img style="width: 100%;" src="{{i.products.image.url}}" alt=""> </a>
                    
                </div>
                <div class="carttext ms-3">
                    <h1 class="" style="">{{i.products.name}}</h1>
                   
                    <h3 style=""> &#x20B9 {{i.products.price}}</h3>
                    <h3 style="">currentprice: &#x20B9 {{i.price}}</h3>
                    <div class="d-flex my-3 ">
                        <a href="{% url 'cart:remove' i.products.id %}"><button class="w3-button p-1 m-2  w3-white">-</button></a>
                        <h3 class="p-1" style="font-size: 15px;border:1px black solid ; ">{{ i.quantity}}</h3>
                        <a href="{% url 'cart:addcart' i.products.id %}"><button style="" class="w3-button p-1 m-2 w3-white">+</button></a>
                    </div>
                    
                    <a href="{% url 'cart:delete' i.products.id %}"><button type="button" class=" my-1 shadow-sm btn btn-danger me-auto lasbtn "><h4>Remove</h4></button></a>
                </div>
                
            </div>
            {% endfor %}


          
            <div class="container  p-3 mt-3">
                <a href="">  <button type="button" class=" shadow-sm btn btn-warning me-auto ">PlaceOrder</button></a>
            </div>
            </div>
            <div class=" cartscol col-lg-3 col-md-4  col-sm-3 ms-2 bg-warning" style="">
                <div class=" prdiv mx-auto mt-5 p-3" style="">
                    <h1 class="mx-auto" style="">Price details</h1>
                    <table class="ptable table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                
                                <td>total price</td>
                                <td> &#x20B9 {{totalprice}}</td>
                              </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    {% else %}
    <div class="container " style="text-align: center;">
        <div style="width: 100%;">
            <img style="width: 50%;" src="{% static 'image/pngwing.com.png' %}" alt="">
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}