{% load static %}

<div class="container-fluid  my-3 py-5" style="width: 100%;">
    <div class="row  ">
        <div class="col-lg-3">
            <div class="icons me-4 " style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/airplane.png' %}" alt="">
                <h3 style="font-size: 16px;">Worldwide Delivery</h3>
                <h4 style="font-size: 13px;">We deliver gifts to over 70 countries</h4>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="icons me-4"  style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/cyber-security.png' %}" alt="">
                <h3 style="font-size: 16px;">100% Safe & Secure Payments</h3>
                <h4 style="font-size: 13px;" >Pay using secure payment methods</h4>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="icons me-4"  style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/call-center-agent.png' %}" alt="">
                <h3 style="font-size: 16px;">Dedicated Help Center</h3>
                <h4 style="font-size: 13px;">Dedicated Help Center</h4>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="icons me-4"  style="text-align:center;">
                <div class="d-flex justify-content-center">
                    <img class="me-3" style="width: 40px;" src="{% static 'image/android.png' %}" alt="">
                    <img style="width: 40px;" src="{% static 'image/apple.png' %}" alt="">
                </div>
                
                
                <h4 style="font-size: 16px;">Download the mobileapp</h4>
            </div>

        </div>
    </div>
</div>



<div class="container-fluid d-flex p-4" style="width: 100%; background-color:white" >
<div class="foot me-3"  style="width: 20%;">
    <h4 style="font-size: 15px; ">PRIVACY INFO</h4>
    <H5 style="font-size: 12px; ">Terms&Conditions</H5>
    <H5 style="font-size: 12px; ">Privacypolicy</H5>
    <H5 style="font-size: 12px; ">Terms of use</H5>
    <H5 style="font-size: 12px; ">Disclamier</H5>
</div>
<div class="foot me-3"  style="width: 20%;">
    <h4 style="font-size: 15px; ">ABOUT COMPANY</h4>
    <H5 style="font-size: 12px; ">About Us</H5>
    <H5 style="font-size: 12px; ">  CakeBite Team</H5>
    <H5 style="font-size: 12px; ">Careers</H5>
    <H5 style="font-size: 12px; ">Testimonials</H5>
    <H5 style="font-size: 12px; ">News Room</H5>
</div>
<div class="foot me-3"  style="width: 20%;">
    <h4 style="font-size: 15px; ">FNP BUSINESS</h4>
    <H5 style="font-size: 12px; ">Decoration Services</H5>
    <H5 style="font-size: 12px; "> Corporate Service</H5>
    <H5 style="font-size: 12px; "> Affiliate Program</H5>
    <H5 style="font-size: 12px; ">Retails Stores</H5>
</div>
<div class="foot me-3"  style="width: 20%;">
    <h4 style="font-size: 15px; ">NEED HELP ?</h4>
    <H5 style="font-size: 12px; ">Contact Us</H5>
    <H5 style="font-size: 12px; ">FAQs</H5>
   
</div>
<div class="foot me-3"  style="width: 20%;">
    <h4 style="font-size: 15px; ">USEFUL LINKS </h4>
    <H5 style="font-size: 12px; ">Quotes N Wishes</H5>
    <H5 style="font-size: 12px; "> Flower Astrology</H5>
    <H5 style="font-size: 12px; "> Article Hub</H5>
    <H5 style="font-size: 12px; ">Care Guide</H5>
    <H5 style="font-size: 12px; ">Blog</H5>
</div>
<div class="foot me-3"  style="width: 30%; color:rgb(148, 147, 147)">
    <h4 style="font-size: 15px; ">CakeBite: India's Best Gift Portal. Send Cakes, Gifts & Flowers Online</h4>
    
</div>

</div>



<div style=" color:white;  background-color: rgb(16, 16, 16); width:100% ; " class="container-fluid d-flex">
    <div style="width: 30%;" class="container  p-2">
        <h4 class="my-2" style="font-size:12px;">© 1994-2024 cakebite.com.All rights reserved.</h4>
    </div>
<div style="width: 30%;" class=" container d-flex p-2">
    <h4 class="my-auto me-2" style="font-size:12px;">keep in touch</h4>
    <img class="me-2" style="width: 30px ;" src="{% static 'image/icons8-facebook-48.png' %}" alt="">
    <img class="me-2" style="width: 30px;" src="{% static 'image/icons8-pinterest-logo-60.png' %}" alt="">
    <img class="me-2" style="width: 30px;" src="{% static 'image/icons8-twitter-circled-48.png' %}" alt="">
    <img class="me-2" style="width: 30px;" src="{% static 'image/icons8-instagram-logo-48.png' %}" alt="">
</div>
<div style="width: 30%;" class="container d-flex  p-2">
    <img class="me-2" style="width: 25px; height:35px;" src="{% static 'image/icons8-visa-48.png' %}" alt="">
    <img class="me-2" style="width: 25px;height:35px;" src="{% static 'image/icons8-paypal-logo-48.png' %}" alt="">
    <img class="me-2" style="width: 25px;height:35px;" src="{% static 'image/icons8-rupay-logo-48.png' %}" alt="">
    
</div>
</div>