{% load static %}

<div class="container-fluid  my-3 py-5" style="width: 100%;">
    <div class="row  ">
        <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
            <div class="icons me-4 " style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/airplane.png' %}" alt="">
                <h3 style="font-size: 16px;">Worldwide Delivery</h3>
                <h4 style="font-size: 13px;">We deliver gifts to over 70 countries</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
            <div class="icons me-4"  style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/cyber-security.png' %}" alt="">
                <h3 style="font-size: 16px;">100% Safe & Secure Payments</h3>
                <h4 style="font-size: 13px;" >Pay using secure payment methods</h4>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
            <div class="icons me-4"  style="text-align:center; ">
                <img style="width: 40px;" src="{% static 'image/call-center-agent.png' %}" alt="">
                <h3 style="font-size: 16px;">Dedicated Help Center</h3>
                <h4 style="font-size: 13px;">Dedicated Help Center</h4>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 mt-2">
            <div class="icons me-4"  style="text-align:center;">
                <div class="d-flex justify-content-center">
                    <img class="me-3" style="width: 40px;" src="{% static 'image/android.png' %}" alt="">
                    <img style="width: 40px;" src="{% static 'image/apple.png' %}" alt="">
                </div>
                
                
                <h4 style="font-size: 16px;">Download the mobileapp</h4>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid footsec  " style=" " >
    <div class="footsecd  mx-auto " style="">
<div class="foot me-3"  style="">
    <h4 style=" ">PRIVACY INFO</h4>
    <H5 style=" ">Terms&Conditions</H5>
    <H5 style=" ">Privacypolicy</H5>
    <H5 style=" ">Terms of use</H5>
    <H5 style=" ">Disclamier</H5>
</div>
<div class="foot me-3"  style="">
    <h4 style=" ">ABOUT COMPANY</h4>
    <H5 style=" ">About Us</H5>
    <H5 style=" ">  CakeBite Team</H5>
    <H5 style=" ">Careers</H5>
    <H5 style=" ">Testimonials</H5>
    <H5 style=" ">News Room</H5>
</div>
<div class="foot me-3"  style="">
    <h4 style=" ">FNP BUSINESS</h4>
    <H5 style=" ">Decoration Services</H5>
    <H5 style=" "> Corporate Service</H5>
    <H5 style=" "> Affiliate Program</H5>
    <H5 style=" ">Retails Stores</H5>
</div>
<div class="foot me-3"  style="">
    <h4 style=" ">NEED HELP ?</h4>
    <H5 style=" ">Contact Us</H5>
    <H5 style=" ">FAQs</H5>
   
</div>
<div class="foot me-3"  style="">
    <h4 style=" ">USEFUL LINKS </h4>
    <H5 style=" ">Quotes N Wishes</H5>
    <H5 style=" "> Flower Astrology</H5>
    <H5 style=" "> Article Hub</H5>
    <H5 style=" ">Care Guide</H5>
    <H5 style=" ">Blog</H5>
</div>
<div class="footw me-3"  style="">
    <h4 style=" ">CakeBite: India's Best Gift Portal. Send Cakes, Gifts & Flowers Online</h4>
    
</div>
    </div>

</div>

<div class="sicon container-fluid ">
    <div style="" class="container sicono ">
        <h4 class="my-2" style="">© 1994-2024 cakebite.com.All rights reserved.</h4>
    </div>
<div style="" class=" container sicont ">
    <h4 class="my-auto me-2" style="">keep in touch</h4>
    <img class="me-2" style="" src="{% static 'image/icons8-facebook-48.png' %}" alt="">
    <img class="me-2" style="" src="{% static 'image/icons8-pinterest-logo-60.png' %}" alt="">
    <img class="me-2" style="" src="{% static 'image/icons8-twitter-circled-48.png' %}" alt="">
    <img class="me-2" style="" src="{% static 'image/icons8-instagram-logo-48.png' %}" alt="">
</div>
<div style="" class="container   siconth">
    <img class="me-2" style="" src="{% static 'image/icons8-visa-48.png' %}" alt="">
    <img class="me-2" style="" src="{% static 'image/icons8-paypal-logo-48.png' %}" alt="">
    <img class="me-2" style="" src="{% static 'image/icons8-rupay-logo-48.png' %}" alt="">
    
</div>
</div>